html,body,#mask1 {
    position: relative;
    margin: 0;
    height: auto;
    width: 100%;
    background: url('mask1.png');
    background-size: 100% auto;
  }
  #mask2{
    width: 100%;
    margin: 0;
    -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/40713/xray-machine.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 250px;
    cursor: none;
  }
  * {
    box-sizing: border-box;
  }

  /* .reanimation{
    display:flex;
    flex-direction: row;
    z-index: 2;
    position:absolute;
    left:45vw;
    top:50vh;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: oblique;
    font-size: 50pt;
  } */

.container{
  font-family: Arial, Helvetica, sans-serif;
}

  .r{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:5vw;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

  .e{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:10vw;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }

  .a{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:20vw;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-delay: 1.2s;
    animation-iteration-count: infinite;
  }

  .n{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:30vw;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-delay: 1.4s;
    animation-iteration-count: infinite;
  }

  .i{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:40vw;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-delay: 1.6s;
    animation-iteration-count: infinite;
  }

  .m{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:60vw;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-delay: 1.8s;
    animation-iteration-count: infinite;
  }

  .aa{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:70vw;
    color:white;
    position:absolute;
    z-index: 2;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }

  .t{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:80vw;
    color:white;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-delay: 2.2s;
    animation-iteration-count: infinite;
  }

  .ii{
    position:absolute;
    z-index: 2;
    top:50vh;
    left:40vw;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-delay: 2.4s;
    animation-iteration-count: infinite;
  }

  .o{
    position:absolute;
    z-index: 2;
    top:50vh;
    left:70vw;
    color:white;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-delay: 2.6s;
    animation-iteration-count: infinite;
  }

  .nn{
    position:absolute;
    z-index: 2;
    top:50vh;
    left:80vw;
    color:white;
    animation: fadeIn 6s;
    animation-duration: 8s;
    animation-delay: 2.8s;
    animation-iteration-count: infinite;
  }

  .joan{
    z-index: 2;
    position:absolute;
    top:72vh;
    left:50vw;
  }

  .jonas{
    z-index: 2;
    position:absolute;
    top:75vh;
    left:50vw;
  }

  .link{
    z-index: 2;
    position:absolute;
    top:85vh;
    left:47vw;
    color:rgb(78, 78, 78);
  }

  @keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}