html,body,#mask1 {
    position: relative;
    margin: 0;
    height: auto;
    width: 100%;
    background: url('mask1.png');
    background-size: 100% auto;
  }
  #mask2{
    width: 100%;
    margin: 0;
    -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/40713/xray-machine.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 250px;
    cursor: none;
  }
  * {
    box-sizing: border-box;
  }

  /* .reanimation{
    display:flex;
    flex-direction: row;
    z-index: 2;
    position:absolute;
    left:45vw;
    top:50vh;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: oblique;
    font-size: 50pt;
  } */

  .r{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:5vw;
  }

  .e{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:10vw;
  }

  .a{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:20vw;
  }

  .n{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:30vw;
  }

  .i{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:40vw;
  }

  .m{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:60vw;
  }

  .aa{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:70vw;
    color:white;
  }

  .t{
    position:absolute;
    z-index: 2;
    top:40vh;
    left:80vw;
    color:white;
  }

  .ii{
    position:absolute;
    z-index: 2;
    top:50vh;
    left:40vw;
  }

  .o{
    position:absolute;
    z-index: 2;
    top:50vh;
    left:70vw;
    color:white;
  }

  .nn{
    position:absolute;
    z-index: 2;
    top:50vh;
    left:80vw;
    color:white;
  }